## Welcome <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px">
[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg?style=for-the-badge)](../CODE_OF_CONDUCT.md)

We are a group of students, academics, educators, and enthusiasts providing access to, while maintaining, a powerful toolkit: the TU Delft Astrodynamics Toolkit (Tudat), with a mission of fuelling careers and passions in astrodynamics and space.
- [Tudat Space](https://tudat-space.readthedocs.io/en/latest/) is the central hub of our documentation.
- 🍿 Fun fact, we believe that if there's a Hell, CMake belongs there.

## Space feed 🍽️
This feed is updated every 30 minutes with news provided by
[The Space Devs](https://thespacedevs.com/)'
[Spaceflight News API](https://thespacedevs.com/snapi).

<table>
<tr>
<td width="50%" valign="top">

<h3 align="center"> Spaceflight news 📅 </h3>

<!-- spaceflight news starts -->
{% for article in news_articles -%}
* [{{ article.title }}]({{ article.url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(article.publishedAt)) }}</sub>
{% endfor %}
<!-- spaceflight news ends -->

</td>

<td width="50%" valign="top">

<h3 align="center"> Spaceflight blogs ✍️ </h3>

<!-- spaceflight blogs starts -->
{% for article in blogs -%}
* [{{ article.title }}]({{ article.url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(article.publishedAt)) }}</sub>
{% endfor %}
<!-- spaceflight blogs ends -->

</td>

</tr>

</table>


<hr>
  <div align="center">
  This <code>README.md</code> was last auto generated at {{ make_html_linked_time(timestamp) }}
  <br>
  <!-- <a href="https://medium.com/@g.h.garrett" target="_blank">Learn to add space launches to your profile here!</a> -->
</div>